/* Clip-path transition */
/* Leaving fade page to clip page */

/* clip out current container (page leaving) */
.clip-leave {
    opacity: 1;
}
.clip-leave-active {
    transition: opacity 0.75s linear;
}
/* Slide to home */
.clip-leave-to {
    opacity: 0;
}   

/* clip in enetering container */
.clip-enter {
    clip-path: circle(0%);
}
.clip-enter-active {
    transition: all 0.75s linear;
    position: absolute;
    top: 0;
    z-index: 2;
}
/* Slide to home */
.clip-enter-to {
    clip-path: circle(75%);
}   



